<form action="/signup/" method="post">
  <div><input name="name" placeholder="name" type="text"></div>
  <div><input name="lastname" placeholder="lastname" type="text"></div>
  <div><input name="email" placeholder="email" type="email"></div>
  <div><input name="password1" placeholder="password" type="password"></div>
  <div><input name="password2" placeholder="repeat password" type="password"></div>
  <div><input name="redirect" type="hidden" value="/"></div>
  <div><input type="submit" value="Sign up"></div>
</form>
<div>
  <p>Already registered? <a href="/signin/">Sign in</a></p>
</div>
